# gitignore all ds_store files
*.DS_Store


# gitignore for vscode
### VSCode ### 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

